DEVELOPMENT=True

KAFKA_PORT=9092
KAFKA_HOST=kafka
KAFKA_NODE_ID=1
KAFKA_PROCESS_ROLES=broker,controller
KAFKA_LISTENERS=PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka:9093
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
CLUSTER_ID=SOME_CLUSTER_ID
KAFKA_RESPONSE_TOPIC=pb.nalog.search.response

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_DEFAULT_USER=SOME_USER
RABBITMQ_DEFAULT_PASSWORD=SOME_PASSWORD
RABBITMQ_TASK_QUEUE=pb.nalog.search.request
RABBITMQ_STATUS_QUEUE=pb.nalog.search.status

PB_NALOG_BASE_URL=https://pb.nalog.ru/search.html
PB_NALOG_SEARCH_URL=https://pb.nalog.ru/search-proc.json

PROXY_URLS=